<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="input_quantidade">Quantidade de leituras para carregar: </label>
        <input type="text" id="input_quantidade">
        <button onclick="update(event)" type="submit">Atualizar</button>
    </form>
    <button onclick="predict_discharge(charts.percentage.data.datasets[0].data)">Prever horário de parada</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const randomNum = () => Math.floor(Math.random() * (235 - 52 + 1) + 52);
    const randomRGB = () => `rgb(${randomNum()}, ${randomNum()}, ${randomNum()})`;

    const variables = ['percentage', 'balance', 'temperature',  'current']
    let charts = {}
    for(let variable of variables){
        let data = {
            labels: [],
            datasets: [
                {
                    label: variable,
                    borderColor: randomRGB(),
                    data: []
                }
            ]
        }

        let canvas = document.createElement('canvas');
        document.body.appendChild(canvas);

        const config = {
            type: 'line',
            data: data,
            options: {}
        }

        charts[variable] = new Chart(
            canvas, 
            config
        )
    }

    function predict_discharge(data){
        let data_copy = data.slice()
        let sum = 0;
        let n_intervals = 0;
        for (var i = data_copy.length - 1; i >= 1; i--) {
            if(data_copy[i] > data_copy[i - 1])
                break;
            sum += data_copy[i] - data_copy[i - 1]
            n_intervals += 1;
        }
        let discharge_per_interval = -sum / n_intervals;
        let remaining = data.at(-1) - 40
        let time = remaining / discharge_per_interval * 5
        let now = new Date()
        let prediction = new Date(now.getTime() + time * 60000)
        alert("O dispositivo atingirá 40% de bateria as " + prediction.toLocaleTimeString())
    }

    function rolling_average(data, periods){
        let rolling = [];
        for(let i = periods - 1; i < data.length; i++){
            const window = data.slice(i - periods + 1, i + 1)
            const sum = window.reduce((a,b) => a + b, 0)
            const mean = sum / periods;
            rolling.push(mean);
        }
        while(rolling.length < data.length)
            rolling.unshift(0)
        return rolling;
    }

    async function update(event=null){
        if(event){
            event.preventDefault()
        }
        let number_readings = document.getElementById('input_quantidade').value
        let resp = await fetch('/api/' + number_readings)
           
        resp = await resp.json()
        
        for(let label of variables){
            charts[label].data.labels = Array.from(resp, (reading) => {
                let d = new Date(reading.datetime).toLocaleString()
                return d;
            }).reverse()
            if(label === 'balance'){
                let bal = Array.from(resp, reading => reading[label]).reverse()
                for (var i = bal.length - 1; i >= 1; i--) {
                    bal[i] -= bal[i - 1]
                }
                bal[0] = 0;
                charts[label].data.datasets.find(dataset => dataset.label === label).data = bal
            } else {
                charts[label].data.datasets.find(dataset => dataset.label === label).data = Array.from(resp, reading => reading[label]).reverse()
            }
            charts[label].update()
        }
        const n_periods = 6;
        let bal = charts['balance'].data.datasets[0].data;
        let rolling = rolling_average(bal, n_periods);
        if(!charts['balance'].data.datasets.find((dataset) => dataset.label === `${n_periods}MA`))
            charts['balance'].data.datasets['1'] = {
                label: `${n_periods}MA`,
                data: [],
                borderColor: randomRGB()
            }
        charts['balance'].data.datasets[1].data = rolling;
        charts['balance'].update()
    }
    update()
    setInterval(update, 60000)
</script>
</html>